<href="{{https://github.com/lshim98/codequiz.github.io}}>

#answerOne{
    background-color: #0044ff;
    margin: 5px
}

#answerTwo{
    background-color: #0044ff;
    margin: 5px
}

#answerThree{
    background-color: #0044ff;
    margin: 5px
}

#answerFour{
    background-color: #0044ff;
    margin: 5px
}

#startButton{
    background-color: #ff4d4d;
    text-align: center;
}

#buttonDiv{
    text-align: center;
}

.large-12.columns {
    text-align: center;
}

ul.button-group{
    display: inline-block;
}

#answers{
    text-align: center;
}


#high-score-link{
    color: black;
}

#question {
    text-align: center;
}

#master-div {
    text-align: -webkit-center;
}

#score{
    margin: 15px 15px 15px 15px;
}

#input-field {
    margin-right: 15px;
    margin-left: 15px;
}

#go-back {
    margin-top: 15px;
    margin-right: 15px;
}

#clear-high-scores {
    margin-top: 15px;
}

td {
    padding: 5px;
}

/*.large-12.columns applies to the div which has the both classes*\
